html {
  font-size: 14px; /*Define el tamaño texto.*/
}

@media (min-width: 768px) { /*si la pantalla es más grande (tipo tablet o compu) hace la letra más grande*/
  html {
    font-size: 16px; 
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html { /*Hace que la página ocupe toda la altura de la pantalla.*/
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
  color: var(--bs-secondary-color);
  text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
  text-align: start;
}



/*aqui empieza mi codigo*/
/*Esto es de layout*/
.whirl-esp {
  margin-left: 35px;
  display: flex;
}

.main-color {
  background-color: #0071DB;
}

.derecha {
  display: flex;
  justify-content: flex-end;
  margin-right: 35px;
}

.margen {
  margin-right: 10px;
  margin-left: 10px;
}

.margen-princ {
  background-color: rgba(255, 255, 255, 0.445);
  border-radius: 8px;
}

.text-main {
  color: #F5F5F5;
}

.margen:hover {
  background-color: rgba(255, 255, 255, 0.445);
  border-radius: 8px;
}

.fondo {
    background-color: #ffffff;
}

/* Banner  degradado*/
.banner {
    background: linear-gradient(135deg, #0071DB, #005bb5);
    border-radius: 12px;
}

/* Progreso */
.progress-card {
    background: white;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.05);
}

.progress-circle {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 5px solid #0071DB;
    display: flex;
    align-items: center; /*Centra el contenido verticalmente (arriba/abajo).*/
    justify-content: center;  /*Centra el contenido horizontalmente (izq/der).*/
    font-weight: bold;
    position: relative;
}

/* Cards */
.form-card {
    background: white;
    border-radius: 12px;
    padding: 20px;
    position: relative;
    transition: 0.25s ease;
    box-shadow: 0 4px 10px rgba(0,0,0,0.05);
}

.form-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 18px rgba(0,0,0,0.1);
    border: 2px solid #0071DB;

}

/* Icono */
.form-icon {
    width: 45px;
}

/* Tokens */
.token-badge {
    position: absolute;
    top: 15px; /*15 px al borde sup*/
    right: 15px; /*15 px a la derecha*/
    background: #fff3cd;
    color: #856404;
    padding: 4px 10px; /*espacio que hay entre el tecto y los bordes x,y*/
    border-radius: 20px;
    font-size: 12px;
    font-weight: 600;
}

/* Extras */
.extra-badge {
    font-size: 12px;
    padding: 6px;
    border-radius: 8px;
    text-align: center;
}

.extra-badge.success {
    background: #d4edda;
    color: #155724;
}

.extra-badge.danger {
    background: #f8d7da;
    color: #721c24;
}

/* Completados */
.completed {
    background: white;
    border-radius: 12px;
}

.completed-item {
    padding: 10px 0; /*espacio que deja a los lados*/
    border-top: 1px solid #eee;
}

/* Botón */
.btn-primary {
    background-color: #0071DB;
    border: none;
}

.btn-primary:hover {
    background-color: #005bb5;
}

/* Contenedor base */
.navbar {
    background-color: #0071DB;
}

/* Links */
.nav-custom {
    display: flex;
    align-items: center;
    gap: 8px;

    color: white !important;
    font-weight: 500;

    padding: 8px 14px;
    border-radius: 10px;

    transition: 0.2s ease;
}

/* Iconos */
.nav-custom img {
    width: 25px;
    height: 25px;
    object-fit: contain;
    opacity: 0.9;
}

/* Hover */
.nav-custom:hover {
    background-color: rgba(255, 255, 255, 0.15);
}

/* Activo (como tu imagen) */
.active-link {
    background-color: rgba(255, 255, 255, 0.25);
}